body {
  background-color: #f8f8f8;
}
#searchButton {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

#modal1 {
  height: 75%;
}

/* Citation styles */
#rightdiv {
  width: 100px;
}

.sciwrapper > .nano > .nano-content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 4.5rem;
    width: 50%;
    right: 0;
    bottom: 0;
    /*left: 0;*/
}

.grid {
  /*border: 2px solid grey;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(251, 217, 166, 0.53);
  display: inline-block;
  width: 75px;
  margin: 1rem;
  padding: .5rem;
  flex: auto;
}

.grid > a:link, .grid > a:visited {
  color: black
}

.scicontent {
  display: flex;
}

.speakerlist > li {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  display: inline-block;
  width: 80%;
  margin: .2rem;
  margin-left: 3rem;
  padding: .5rem;
  flex: auto;
}

.volumetitle {
  font-weight: bold;
  margin-left: .1rem;
}

.volumetitle > a:link, .volumetitle > a:visited {
  color: black;
}
